*, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    font-family: "Commissioner", sans-serif;
}

ol, ul {
    list-style-type: none;
    padding-left: 0;

}

a {
    text-decoration: none;
}

button {
    border: 0px;
    background-color: transparent;
}

/* ========= navbar Start ========= */

.navbar {
    padding: 0 0;
    padding: 32px 0;
}

.nav-link {
    color: #62636C;
    transition: all linear 0.4s;
}

.nav-link:hover {
    color: #7678ED;
}

nav button {
    padding: 16px 32px;
    background: #7678ED;
    color: #FFF;
    font-family: Commissioner;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    border: 1px solid #7678ED;
    transition: all linear 0.4s;
} 

nav button:hover {
    background: transparent;
    color: #7678ED;
    border: 1px solid #7678ED;
}

/* ========= navbar End ========= */

/* ========= Banner Start ========= */

#banner .container {
    padding: 48px 0;
}
#banner .container h1 {
    color: #13132C;
    font-family: Commissioner;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
}

#banner .container .p {
    color: #898998;
    font-family: Commissioner;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 16px 0 32px 0;
    width: 416px;
}

#banner .container button {
    padding: 18px 40px;
    background: #7678ED;
    color: #FFF;
    font-family: Commissioner;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #7678ED;
    transition: all linear 0.4s;
}

#banner .container button:hover {
    padding: 18px 40px;
    background: transparent;
    color: #7678ED;
    border: 1px solid #7678ED;
}

.Succese {
    margin-top: 45px;
}

.Succese span {
    color: #13132C;
    font-family: Commissioner;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Succese span strong {
    color: #F18701;
    font-family: Commissioner;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}

.pic-box {
    width: 560px;
    height: 520px;
    background: #C4C4C4;
    position: relative;
}


.perform-box {
    width: 220px;
    height: 240px;
    padding: 24px;
    background: #FFF;
    position: absolute;
    top: 40%;
    left: -18.5%;
}

.txt h6 {
    color: #898998;
    font-family: Commissioner;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.txt p {
    color: #13132C;
    font-family: Commissioner;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.pricing-box:hover .learn-btn{
    color: #7678ED;
    background: #fff;
}
/* Plan Area End */

/* /* =======service css start ===== */

#service{
    padding: 114px 0;
}

#service .service-left h2{
    font-family: "Commissioner", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 70px ;
    color: #13132C;
    max-width: 491px;

}

#service .service-left p{
    font-family: "Commissioner", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px ;
    color: #898998;
    max-width: 386px;
    margin-top: 16px;
    margin-bottom: 32px;
}

#service .service-left ul li{
    font-family: "Commissioner", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #13132C;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 26px;
    
}

#service .service-left ul li i{
    height: 18px;
    width: 18px;
    background-color: #F18701;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7px;
}

#service .service-left button{
    font-family: "Commissioner", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 18px 40px;
    background-color: #7678ED;
    border: none;
    margin-top: 14px;
}

#service .service-left button:hover{
    background-color: #474aed;
}

#service .service-right img{
    width: 100%;
    top: 5px;
}

/* =======service css end ======== */

/* =======article css start ======== */

#article{
    padding: 48px 0;
    background-color: #FAFAFA;
}

#article .article-head h3{
    font-family: "Commissioner", sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #13132C;
    line-height: 70px;
    max-width: 593px;
    margin: 0 auto;
    text-align: center; 
    margin-bottom: 24px; 
}

#article .article-head p{
    font-family: "Commissioner", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #898998;
    line-height: 24px;
    max-width: 533px;
    margin: 0 auto; 
    text-align: center;   
}

#article .article-content .content-box{
    padding: 24px;
    background-color: #fff;
    box-sizing: border-box;
      
}

#article .article-content .content-box .content-child-box {
    height: 240px;
    width: 336px;
    background-color: #C4C4C4;
}

#article .article-content .content-box h4{
    font-family: "Commissioner", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #13132C;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 16px;
    width: 336px;
}

#article .article-content .content-box p{
    font-family: "Commissioner", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #898998;
    line-height: 24px;
    width: 336px;
  
}

.article-content{
    margin-top: 48px;
}


#article .article-content .content-box a {
    color: #F18701;
    font-family: "Commissioner", sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    display: inline-block;
    width: 336px;
    
}

#article .article-button button{
    padding: 18px 40px;
    color: #7678ED;
    font-family: "Commissioner", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
   border: 1px solid #7678ED ;
   margin-top: 48px;
   
}

#article .article-button button:hover{
    background-color: #3538e9;
}
/* =======article section end ======== */
